:root {
  font-family: 'Arial', sans-serif;
  margin: 0;
}
/* Header Styles */
header{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: red;
}
.logo-span{
  color: #646cff;
}
nav{
  display: flex;
  gap: 50px;
}
nav button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
nav button:hover{
  color: #535bf2;
  background-color: white;
}
.search
{
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  padding: 0;
  height: 40%;
  background-color: 1px solid red;
  
}
.search input{
  padding: 5px 10px;
  display: block;
  border-radius: 10px;
}
.search button{
  border-radius: 10px;
  padding: 10px 20px;
  display: block;
}

/* Proudact Card Styles */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  margin: 20px;
  background-color: #f9f9f9;
}
.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}
.card h3 {
  margin: 12px 0 8px;
  color: black;
  text-align: center;
}
.card p {
  color: #4c4c4c;
  font-size: 1.2em;
  text-align: center;
}

/* Container for product cards */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 1rem;
  width: 100%;
}

.card-list-empty {
  text-align: center;
  padding: 2rem;
  color: #666;
}